---
// src/pages/index.astro
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import ManettaBagHeader from "../components/ManettaBag-Header.astro";
import ManettaBagHeroBanner from "../components/ManettaBag-Hero-Banner.astro";
import ManettaBagHeroBannerMobile from "../components/ManettaBag-Hero-Banner-mobile.astro";
import ManettaBagMarqueeBanner from "../components/ManettaBag-MarqueeBanner.astro";
import ManettaBagFeaturePackLikePro from "../components/ManettaBag-Feature-PackLikePro.astro";
import ManettaBagFeatureComfort from "../components/ManettaBag-Feature-Comfort.astro";
import ManettaBagFeatureVideo from "../components/ManettaBag-Feature-Video.astro";
import ManettaBagSpecsIslands from "../components/ManettaBag-Specs-Islands.astro";
import ManettaBagSpecsIslandsTablet from "../components/ManettaBag-Specs-Islands-tablet.astro";
import ManettaBagFAQ from "../components/ManettaBag-FAQ.astro";
import ReservationSection from "../components/reservation-section.astro";
import Formsection from "../components/Form-section.astro";
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manetta Modular Bag</title>

    <link rel="canonical" href="https://manettabag.com/" />
    <link rel="icon" type="image/svg+xml" href="/manettabag-web-icon.svg" />
    <!-- 引用编译好的 Tailwind + 全局样式 -->
    <link rel="stylesheet" href="/tailwind.css" />
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "2248339528989623");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=2248339528989623&ev=PageView&noscript=1"
      /></noscript
    >
    <!-- End Meta Pixel Code -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6D5EX8ZZ35"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-6D5EX8ZZ35");
    </script>
  </head>
  <body>
    {/*<Header />*/}

    <div id="top"></div>
    <ManettaBagHeader />

    <ManettaBagHeroBanner />

    <ManettaBagHeroBannerMobile />

    <ManettaBagMarqueeBanner />

    <main id="features" class="relative z-10 bg-dark-main pt-20">
        <ManettaBagFeaturePackLikePro />

        <ManettaBagFeatureComfort />

        <ManettaBagFeatureVideo />

        <ManettaBagSpecsIslands />

        <ManettaBagSpecsIslandsTablet />

        <Formsection />

        <ManettaBagFAQ />
        {/* 其他众筹模块将在这里添加，这些模块可能需要宽度限制 */}
    </main>

    <Footer />
  </body>
</html>
